.App {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: #282828;

	gap: 1vh;
}

.App img {
	max-height: 15vh;
}

.App h2 {
	font-weight: 300;
	font-size: 1.4rem;
	text-transform: uppercase;
}
